llama-index
llama-index-readers-file
llama-index-llms-openai
llama-index-embeddings-huggingface
llama-index-vector-stores-faiss
sentence-transformers
pymupdf4llm

python-dotenv
tqdm
pydantic

fastapi
llama-index
llama-index-readers-file
llama-index-llms-openai
llama-index-embeddings-huggingface
llama-index-vector-stores-faiss
sentence-transformers
pymupdf4llm

python-dotenv
tqdm
pydantic

fastapi
uvicorn

requests
beautifulsoup4
lxml

faiss-cpu
streamlit
duckduckgo-search
